include LICENSE tests.py
recursive-include templates *
recursive-include testmodule *
recursive-exclude testmodule *.pyc
recursive-exclude testmodule *.pyo
recursive-include views *
recursive-exclude views *.pyc
recursive-exclude views *.pyo
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
